{% extends 'create.njk' %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid col-md-6 col-md-offset-3">
                <div class="row panel panel-default">
                    <div class="panel-heading">
                        <h1>CREATE BOOK</h1>
                    </div>
                    <div class="panel-body">
                        <div>
                            <label for="title">Title : </label><input class="form-control" id="title" name="title"/>
                        </div>
                        <div>
                            <label for="author">Author : </label><input id="author" class="form-control" name="author"/><label id="messageAuthor"></label>
                        </div>
                        <div>
                            <label for="publisher">Publisher</label><input id="publisher" class="form-control" name="price"/><label id="messagePublisher"></label>
                        </div>
                        <div>
                            <label for="price">Price : </label><input id="price" class="form-control" name="price"/>

                        </div>
                        <div>
                            <button id="post" class="btn">save</button>
                        </div>
                        <label id="message"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/html" id="authorTemplate">
    <label>:message:</label>
</script>
<script type="text/html" id="publisherTemplate">
    <span id="publisherId" data-id=":id:">:message:</span>
</script>
{% endblock %}