<html>
<head>
    <title>BOOKS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
    <h1>
        <a href="/book/save/{{ book.getId() }}">{{book.getTitle()}}</a>
    </h1>
    <small>
        {{ book.getAuthor()}}
    </small>
    <small>
        {{ book.getPublisher().getName()}}
    </small>
    <small>
        {{ book.getPrice()}}
    </small>
    <form action="/books">
    <small>
        <a href="/book/save/{{ book.getId() }}">Edit</a>
        <button id= "{{ book.getId()}}">Delete</button>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    var id = $(this).attr('id');
                    $.ajax({
                        method : 'DELETE',
                        url: "/book/delete/".concat(id),
                    })
                })
            });
        </script>
    </small>
    </form>
</body>
</html>