<html>
<head>
    <title>BOOKS</title>
</head>
<body>
<header>
    <h1>
        <a href="/book/save/{{ book.getId() }}">{{book.getTitle()}}</a>
    </h1>
    <small>
        {{ book.getAuthor()}}
    </small>
    <small>
        {{ book.getPublisher().getName()}}
    </small>
    <small>
        {{ book.getPrice()}}
    </small>
    <small>
        <a href="/book/save/{{ book.getId() }}">Edit</a>
        <a href="/book/delete/{{ book.getId() }}">Delete</a>
    </small>
</body>
</html>