<html>
<head>
    <title>BOOKS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/jquery/jquery.js"></script>
</head>
<body>
<nav>
    <a href="/book/add">CREATE BOOK</a>
</nav>
<section>
    <input name="keyword" id="search">
    <button id="searchBasic">submit</button>
    <label for="title">Title : </label><input id="title" type="text" name="title">
    <label for="author">Author : </label><input id="author" type="text" name="author">
    <label for="publisher">Publisher : </label><input  id="publisher" type="text" name="publisher">
    <input id="searchAdvance" type="submit">
    <ul class="list-group" id="viewBooks">

    </ul>
    <div id="list-book">
        <ul>
        {% for book in books %}
            <li>
                <a href="/book/detail/{{book.getId()}}">{{ book.getTitle() }}-{{ book.getPublisher().getName()}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>

</body>
<script id="bookTemplate" type="text/html">
    <li><a href="/book/detail/:id:">:bookTitle: - :bookAuthor:</a></li>
</script>
</html>