{% extends 'layout.njk' %}
{% block title %}
HOME
{% endblock%}
{% block content %}
<article>
    <div class="container-fluid">
        <div class="row ">
            <div class=" col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <h1 style="font-size: 40px; text-align: center;" class="text-success">List Book</h1>
                </div>
                <div id="list-book">
                    <ul class="list-group" id="viewBooks">
                        {% for book in books %}
                        <li class="list-group-item">
                            <h3><a href="/book/save/{{book.getId()}}">{{ book.getTitle() }}</a></h3>
                            <p>author : {{ book.getPublisher().getName()}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
<script id="bookTemplate" type="text/html">
<li class="list-group-item">
    <h3><a href="/book/save/:id:">:bookTitle:</a></h3>
    <p>author :bookAuthor:</p>
</li>
</script>
{% endblock %}