<html>
<head>
    <title>ADD book</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/jquery/save.js"></script>
</head>
<body>
<header>
    <p>EDIT BOOK</p>
</header>
<section>

    <div id="{{book.getId()}}" publisher-id = "{{book.getPublisher().getId()}}">
    <label for="title">Title : </label>
    <input id="title" name="title" value="{{ book.getTitle() }}"/>
    <label for="author">Author : </label>
    <input id="author" name="author" value="{{ book.getAuthor() }}"/><label id="messageAuthor"></label>
    <label for="publisher">Publisher</label>
    <input id="publisher" name="publisher" value="{{book.getPublisher().getName()}}"><label id="messagePublisher"></label>
    <label for="price">Price : </label>
    <input id="price" name="price" value="{{ book.getPrice() }}"/>
    </div>
    <form action="/books">
        <input type="submit" id="put" value="Save"/>
    </form>
</section>
</body>
<script type="text/html" id="authorTemplate">
    <label>:message:</label>
</script>
<script type="text/html" id="publisherTemplate">
    <span id=":id:">:message:</span>
</script>
</html>