<html>
<head>
    <title>ADD book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/jquery/save.js"></script>
</head>
<body>
<header>
    <nav>
        <a href="/books" class="list-group-item">HOME</a>
    </nav>
</header>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <div class="row">
                    <div data-bookId="{{book.getId()}}" data-publisherId="{{book.getPublisher().getId()}}" id ="book">
                        <div class="col-md-8">
                            <label for="title">Title : </label>
                            <input id="title" class="form-control" name="title" value="{{ book.getTitle() }}"/>
                        </div>
                        <div class="col-md-8">
                            <label for="author">Author : </label>
                            <input id="author" name="author" class="form-control" value="{{ book.getAuthor() }}"/><label id="messageAuthor"></label>
                        </div>
                        <div class="col-md-8">
                            <label for="publisher">Publisher</label>
                            <input id="publisher" name="publisher" class="form-control" value="{{book.getPublisher().getName()}}"><label id="messagePublisher"></label>
                        </div>
                        <div class="col-md-8">
                            <label for="price">Price : </label>
                            <input id="price" name="price" class="form-control" value="{{ book.getPrice() }}"/>
                        </div>
                        <div class="col-md-8">
                            <br>
                            <form action="/books">
                                <button class="btn" id="put">save</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script type="text/html" id="authorTemplate">
    <label>:message:</label>
</script>
<script type="text/html" id="publisherTemplate">
    <span id="publisherId" data-id=":id:">:message:</span>
</script>
</html>